 <div id="mdlWait" class="modal mdlWait">
    <div class="modal-dialog modal-dialog-centered mdlWait-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <img src="~/assets/stratum/img/wait.gif" class="img-wait" alt="Wait..."/>
                </div>
            </div>
        </div>
    </div>
</div>

