<?xml version="1.0"?>
<configuration>
  <sitecore>
    <services>
      <register serviceType="Stratum.Foundation.Forms.Repositories.ISitecoreFormsRepository, Stratum.Foundation.Forms" implementationType="Stratum.Foundation.Forms.Repositories.SitecoreFormsRepository, Stratum.Foundation.Forms" />
    </services>
  </sitecore>
</configuration>