<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
      <sitecore>
        <domainManager defaultProvider="file">
          <patch:attribute name="defaultProvider">config</patch:attribute>
          <domains>
            <domain id="Stratum" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
              <param desc="name">$(id)</param>
              <ensureAnonymousUser>false</ensureAnonymousUser>
            </domain>
          </domains>
        </domainManager>
      </sitecore>
    </configuration>
    <pipelines>
      <httpRequestBegin>
        <processor type="Stratum.Project.Website.Pipelines.HttpRequest.PageNotFoundProcessor, Stratum.Project.Website"
                    patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
        </processor>
      </httpRequestBegin>
      <!---The above setup will only work if the URL does not map to an item in the content tree.
    The below processor is for situations where you want to return 404 for a URL that technically exists, e.g.: inactive page item
    -->
      <mvc.getPageItem>
        <processor type="Stratum.Project.Website.Pipelines.GetPageItem.PageNotFoundItemProcessor, Stratum.Project.Website"
                    patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromOldContext, Sitecore.Mvc']">
        </processor>
      </mvc.getPageItem>
    </pipelines>
    <settings>
      <setting name="Domain" value="stratum" />
      <setting name="PageNotFoundPageUrl" value="/page-not-found" />
      <!---SMTP SETTINGS-->
      <setting name="MailServer" value="smtp.ethereal.email" />
      <setting name="MailServerUserName" value="barbara.mayer26@ethereal.email" />
      <setting name="MailServerPassword" value="23ZKHRjJh5ParkSRcY" />
      <setting name="MailServerPort" value="587" />
      <setting name="MailServerUseSsl" value="true" />
    </settings>
  </sitecore>
</configuration>