<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
  <sitecore>   
    <log4net>
      <appender name="SeqLogger" type="Basiscore.SeqLogger.Services.SeqLogger, Basiscore.SeqLogger" patch:after = "appender[@name='LogFileAppender']">
        <applicationname value="Stratum" />
        <includesystemlogs value="false" />
        <!--- excludeloggers: If 'includesystemlogs is 'false' then the logger names starting with any of the specified terms will be excluded from logging-->
        <excludeloggers value="Sitecore.,object,System.RuntimeType"/>
        <seqapiurl value="http://localhost:5341/api/events/raw?clef" />
        <!---Enter any common custom properties you wish to see for each log in Seq, in this pattern - Key1,Value1|Key2,Value2
        e.g.: Environment,Local|Source,Web
        -->
        <commonproperties value="Environment,Local"/>
        <layout type="log4net.Layout.PatternLayout" />
        <encoding value="utf-8" />
      </appender>
      <root>
	    <level value="DEBUG" />
        <appender-ref ref="SeqLogger" patch:after = "*[@ref='LogFileAppender']"/>
      </root>
    </log4net>
  </sitecore>
</configuration>