/*#region WAIT IMAGE */
.mdlWait-dialog {
    width: 80px;
}

    .mdlWait-dialog .modal-content {
        border-radius: 5px;
    }

    .mdlWait-dialog .modal-body {
        padding: 5px;
    }

.img-wait {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
/*#endregion */

.nav-link {
    cursor: pointer !important;
}

.field-validation-error {
    color: red;
    font-size: 12px;
}

.validation-msg {
    color: red;
    font-size: 12px;
    display: none;
}

.font-red {
    color: red;
}

.section-title p {
    margin-bottom: 20px !important;
}

.contact .php-email-form button[type=button] {
    background: #1bac91;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

/*#region DATATABLE */
.dataTable {
    border-top: 1px solid lightgrey;
    margin-top: 10px !important;
    display: inline-table;
}

#tblFormData_wrapper {
    overflow-x: scroll;
    font-size: 12px;
}
/*#endregion */

/*#region MARGINS*/
.mt-20 {
    margin-top: 20px;
}
/*#endregion */
